body{
    background:#fafafa;
    font-size: 16px;
    color: #595959;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .5px;
}
a{
    color: inherit;
}
header{
    color: #5e0000;
}
.webname{
    font-family: 'Cinzel', serif;
    color: #5e0000;
    letter-spacing: 5px;
}
.langtitle{
    margin: 0px 0px 0px 10px;
    letter-spacing: 2px;
    font-weight: 600;
}
.langtitle:hover{
    color: firebrick;
}
.active{
    color: firebrick;
}
hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
}
@media (min-width:700px){
.contentimage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
.content-sec{
    border-bottom:1px solid rgba(0,0,0,.1);
    padding: 10px 10px 15px 15px;
}
.content-container{
    border-radius: 10px;
    position: relative;
    padding: 35px 24px 27px 24px;
    height:700px;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background: #ededed;
}

.article-container{
    border-radius: 10px;
    position: relative;
    padding: 35px 24px 27px 24px;
    height:auto;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background: #ededed;
}
.card{
    height:300px;
    background:#ededed;
    border: none;
    font-size: 13px;
}
.card-title{
    color: #5e0000;
}
.post-date{
    color: #9a9a9a;
    font-size: 12px;
}
.right-col{
    border-radius: 10px;
    position: relative;
    padding: 4px 4px 4px 4px;
    height:700px;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background: #ededed;
}
.recent-posts{
    height: 200px;
}
footer {
   border-top: 1px solid #d9d9d9;
}
footer p{
    margin-top: 10px;
    font-size: 12px;
}
